!Ample-zen theme
*background:     #212121
*foreground:     #bdbdb3
*cursorColor:    #fb8512
*colorUL:        #cc8512
*underlineColor: #baba36
*color0:         #0a0a0a
*color1:         #CC5542
*color2:         #6aa350
*color3:         #bdbc61
*color4:         #5180b3
*color5:         #DC8CC3
*color6:         #6a7550
*color7:         #9b9b9b
*color8:         #4c4c4c
*color9:         #dd5542
*color10:        #6abd50
*color11:        #bdbc61
*color12:        #528fd1
*color13:        #5C888B
*color14:        #6380b3
*color15:        #c9c9c9

!rxvt-unicode
URxvt.scrollBar: false
URxvt.font:  xft:Deja Vu Sans Mono:size=12
!extensions
URxvt.perl-ext-common: default,matcher,resize-font,url-select,keyboard-select
URxvt.colorUL:	#4682B4
!matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
! url-select
URxvt.keysym.M-u:	perl:url-select:select_next
URxvt.url-select.launcher: webview
URxvt.url-select.underline: true
! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! resize-font
URxvt.resize-font.smaller:	C-Down
URxvt.resize-font.bigger:	C-Up


Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*background: #2b2b2b
XTerm*foreground: #e7e7e7
XTerm*pointerColor: #16A085
XTerm*faceName: Fixed
XTerm*faceSize: 11
